#contact {
  padding: 0 15% 25px 15%;
  padding-top: 35px;
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 25px);
}

#contact h2 {
  text-align: center;
}

#contact ul {
  margin: 10vh auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

#contact li {
  white-space: pre-wrap;
  line-height: 1.5;
  margin: 25px 0;
}

#contact li a {
  transition: .2s;
  text-decoration: none;
  word-break: break-all;
  color: black;
}

#contact li a:hover {
  opacity: .7;
}

#contact li i {
  font-size: 18px;
  color: var(--primary);
  width: 25px;
  text-align: center;
}
