#actions .actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#actions h2 {
  margin-bottom: 40px;
  text-align: center;
  color: var(--grey);
}

@media only screen and (max-width: 500px) {
  #actions .actions {
    flex-direction: column;
  }
}
