.posts-section .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts-section h2 {
  margin-bottom: 40px;
  text-align: center;
  color: var(--grey);
}

@media only screen and (max-width: 500px) {
  .posts-section .posts {
    flex-direction: column;
  }
}
