.background-change-password {
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-position: center;
  background-size: cover;
}

.background-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.123);
}

#form-change-password,
.code-error-message {
  min-width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 52%);
  padding: 25px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

#form-change-password h2 {
  margin-top: 0;
  text-align: center;
}

#form-change-password .form-field {
  padding: 10px 0;
}

.code-error-message {
  text-align: center;
}

.link {
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  transition: .2s;
  color: #007bff;
}

.link:hover {
  opacity: .8;
}
