.background-change-password {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#form-change-password {
  min-width: 380px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgb(178 178 178);
  padding: 25px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

#form-change-password h2 {
  margin-top: 0;
  text-align: center;
}

#form-change-password .form-field {
  padding: 10px 0;
}

#form-change-password .submit-button {
  margin-top: 10px;
}

.code-error-message {
  font-size: 20px;
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
  color: white;
  transform: translateY(-50%);
}

.link {
  margin-top: 15px;
  display: block;
  transition: .2s;
  color: #007bff;
}

.link:hover {
  opacity: .8;
}
