#static-acia-cred {
  padding: 15px 5%;
  line-height: 2;
}

#static-acia-cred p {
  margin-top: .5em;
  text-align: justify;
}

#static-acia-cred > img {
  width: 90vw;
}

#static-acia-cred .subtitle {
  margin: 0;
}

#static-acia-cred .bold {
  font-weight: bold;
}

#static-acia-cred .details img {
  flex-basis: 48%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1600px) {
  #static-acia-cred .cards {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  #static-acia-cred .details {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  #static-acia-cred h2,
  #static-acia-cred h3 {
    text-align: center;
  }
}
