#post {
  padding: 35px 15%;
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 25px);
}

#post .content {
  text-align: justify;
  margin-top: 25px;
  line-height: 2;
  white-space: pre-line;
}

#post .image {
  background-position: top center;
  background-size: cover;
  height: 50vw;
}
