#board {
  line-height: 1.5;
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 25px);
  padding: 50px 5% 50px 5%;
}

#board .principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#board .principal > div {
  flex-basis: 30%;
}

#board .president {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board .president .image {
  width: 100%;
}

#board .president .role-name {
  margin-bottom: 0;
}

#board .president .name {
  margin-top: 15px;
  margin-bottom: 50px;
}

#board .role {
  margin-bottom: 50px;
}

#board .role .position {
  margin-bottom: 15px;
  font-weight: bold;
}

#board .name {
  text-transform: uppercase;
}

#board .directors .detail {
  font-weight: bold;
}

#board .directors .header-list {
  margin-top: 50px;
}

#board .directors .director,
#board .directors .header-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

#board .directors .director > div,
#board .directors .header-list > div {
  flex-basis: 30%;
  margin: 5px 0;
}

#board .directors .header-list {
  font-weight: bold;
}

#board .directors .director .company .label {
  font-weight: bold;
  display: none;
}

@media only screen and (max-width: 1000px) {
  #board .principal {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  #board h2,
  #board .role,
  #board .directors .detail {
    text-align: center;
  }

  #board .directors .header-list {
    display: none;
  }

  #board .directors .director {
    flex-direction: column;
    margin-top: 50px;
  }

  #board .directors .director .office {
    order: -1;
    font-weight: bold;
  }

  #board .directors .director .company .label {
    display: inline-block;
  }
}
