#standard-list {
  box-sizing: border-box;
  background-color: rgba(235, 235, 235, 0.603);
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 25px);
  padding: 50px 5% 50px 5%;
}

#standard-list .standards {
  padding: 0 5%;
}

#standard-list .standard {
  display: flex;
  padding: 15px;
  transition: .2s;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid rgb(184, 184, 184);
}

#standard-list .standard:hover {
  background-color: #0030781a;
}

#standard-list .standard .title {
  flex-basis: 90%;
}

#standard-list .standard .count {
  flex-basis: 10%;
  text-align: end;
}

#standard-list h2 {
  margin-bottom: 40px;
  text-align: center;
  color: var(--grey);
}

#standard-list #search-standards {
  margin: 0 25% 25px 25%;
}

#standard-list a.link-load-more {
  opacity: .8;
  width: 200px;
  font-size: 15px;
  margin: 25px auto;
  transition: .2s;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
}

#standard-list a.link-load-more:hover {
  opacity: 1;
}

#standard-list .container-readme {
  height: 55px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  #standard-list #search-standards {
    margin: 0 10% 25px 10%;
  }
}

@media only screen and (max-width: 600px) {
  #standard-list #search-standards {
    margin: 0 5% 25px 5%;
  }
}

@media only screen and (max-width: 500px) {
  #standard-list .standards {
    flex-direction: column;
  }

  #standard-list #search-standards {
    margin: 0;
    margin-bottom: 25px;
  }

  #standard-list .row-fields {
    flex-direction: column;
  }

  #standard-list .row-fields .form-field {
    padding: 10px 0;
  }
}

