#static-president {
  padding: 15px 5%;
  line-height: 2;
}

#static-president p {
  margin-top: .5em;
  text-align: justify;
}

#static-president .detail {
  margin-right: 50px;
}

#static-president .galery {
  flex-direction: column;
  justify-content: flex-start;
}

#static-president .detail .title {
  font-size: 24px;
}

#static-president .galery .image {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
  #static-president .main-title {
    text-align: center;
  }

  #static-president .detail {
    margin: 0;
  }

  #static-president .main {
    flex-direction: column;
  }

  #static-president .galery .image {
    width: 90vw;
  }
}
