.video-card {
  background-position: bottom center;
  background-size: cover;
  height: 20vw;
  flex-basis: 23%;
  background-color: white;
  margin-bottom: 50px;
}

.video-card h4 {
  margin: 0;
  margin-bottom: 15px !important;
}

.video-card .video {
  width: 100%;
  height: calc(100% - 40px);
  border: none;
  border-bottom-right-radius: 0;
  background-color: #ddd;
}

@media only screen and (max-width: 1100px) {
  .video-card {
    flex-basis: 48%;
    height: 35vw;
  }
}

@media only screen and (max-width: 500px) {
  .video-card {
    height: 70vw;
    flex-basis: auto;
  }

  .video-card:last-of-type {
    margin-bottom: 0;
  }
}
