#search-form {
  right: 4%;
  z-index: 1;
  opacity: 0;
  min-width: 300px;
  padding: 15px;
  position: absolute;
  top: calc(var(--header-height) - 20px);
  background-color: white;
  transition: .2s;
  box-shadow: 2px 2px 5px #ddd;
  border: 1px solid #ddd;
}

#search-form.open {
  opacity: 1;
  top: var(--header-height);
}

#search-form .form-field {
  padding: 10px 0;
}
