.page-card-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--primary);
  border-bottom: 2px solid rgba(0, 0, 0, 0.116);
}
