#benefit {
  line-height: 1.5;
  padding: 35px 5%;
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 25px);
}

#benefit .content {
  display: flex;
  justify-content: space-between;
}

#benefit .image {
  height: 30vw;
  flex-basis: 60%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#benefit .detail {
  padding-left: 25px;
  flex-basis: 40%;
}

#benefit .detail p {
  margin-top: 0;
}

#benefit .contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

#benefit .contact li {
  opacity: .8;
  transition: .2s;
  margin: 10px 0;
}

#benefit .contact i {
  color: var(--primary);
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

#benefit .link-action {
  cursor: pointer;
}

#benefit .link-action:hover {
  opacity: 1;
}

@media only screen and (max-width: 1100px) {
  #benefit .detail {
    padding: 0;
  }

  #benefit h2 {
    text-align: center;
  }

  #benefit .content {
    flex-direction: column;
  }
}
