.form-field {
  box-sizing: border-box;
  padding: 10px;
  width: auto;
}

.form-field>label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding: 8px;
  font-size: 18px;
  outline: none;
  border: 1.5px solid #5e5e5e;
}

.field-padding {
  padding-right: 10px !important;
} 

.form-control[disabled],
.form-control[readonly] {
  cursor: default;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(117, 117, 117);
}

.form-field .error-message,
.form-field .orientation-message {
  font-size: 15px;
  margin-top: 5px;
}


.form-field .error-message {
  color: red;
}

.form-field .orientation-message {
  color: rgb(139, 139, 139);
}

.form-control.has-error,
.form-control.has-error::placeholder {
  color: red;
}

textarea.form-control {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
}

.field-icon,
.field-icon-right {
  display: flex;
  align-items: center;
  position: relative;
}

.field-icon .form-control {
  padding-left: 40px;
}

.field-icon-right .form-control {
  padding-right: 40px;
}

.field-icon i.icon,
.field-icon-right i.icon {
  opacity: .5;
  position: absolute;
}

.field-icon i.icon:not(.icon-right) {
  left: 15px;
}

.field-icon-right i.icon-right {
  right: 15px;
}

.field-icon-right i.icon-right {
  transition: .2s;
  cursor: pointer;
}

.field-icon-right i.icon-right:hover {
  opacity: .6;
}

.field-padding {
  padding-right: 10px !important;
} 

@media only screen and (max-width: 600px) {
  .form-control {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .form-control {
    font-size: 14px;
  }
}
