.template-slide-about-bg {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.315);
  position: absolute;
  width: 100%;
  height: 100%;
}

.template-slide-about {
  width: 100%;
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.template-slide-about .title {
  margin-bottom: 5%;
}

.template-slide-about .title h1 {
  font-size: 50px;
}

.template-slide-about .title h2 {
  font-size: 35px;
}

.template-slide-about a {
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  cursor: pointer;
  transition: .2s;
  font-size: 35px;
  text-decoration: none;
  border-radius: 35px;
}

.template-slide-about a:active,
.template-slide-about a:hover {
  background-color: rgba(0, 0, 0, 0.842);
}
