#static-policy-quality {
  padding: 15px 5%;
  line-height: 2;
}

#static-policy-quality p {
  margin-top: .5em;
  text-align: justify;
}

#static-policy-quality .bold {
  font-weight: bold;
}

#static-policy-quality .reference {
  text-align: right;
}

@media only screen and (max-width: 800px) {
  #static-policy-quality h2 {
    text-align: center;
  }

  #static-policy-quality .main-list,
  #static-policy-quality .secondary-list {
    padding-left: 25px;
  }
}
