#static-policy-qualityn {
  padding: 15px 5%;
  line-height: 2;
}

#static-policy-qualityn p {
  margin-top: .5em;
  text-align: justify;
}

#static-policy-qualityn .bold {
  font-weight: bold;
}

#static-policy-qualityn .reference {
  text-align: right;
}

@media only screen and (max-width: 800px) {
  #static-policy-qualityn h2 {
    text-align: center;
  }

  #static-policy-qualityn .main-list,
  #static-policy-qualityn .secondary-list {
    padding-left: 25px;
  }
}
