.next {
  z-index: 1;
  padding: 15px;
  position: absolute;
  font-size: 50px;
  margin-right: 130px;
  right: 0;  
  transform: translateY(-50%);
  color: rgba(126, 126, 126, 0.603);
  cursor: pointer;
  outline: none;
  transition: all .2s;
}

.next:hover {
  color: rgb(68, 68, 68);
}

.next.disabled {
  cursor: default;
}

.next.disabled:hover {
  color: rgba(126, 126, 126, 0.603);
}

@media only screen and (max-width: 700px) { 
  .next { 
    margin-right: 15px;
    right: 0;  
  }
}
