#static-relevant-informations {
  padding: 15px 5%;
  line-height: 2;
}

#static-relevant-informations p {
  margin-top: .5em;
  text-align: justify;
}

#static-relevant-informations .title {
  margin-top: 50px;
  margin-bottom: 0;
}

#static-relevant-informations .title,
#static-relevant-informations .bold {
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  #static-relevant-informations h2,
  #static-relevant-informations .title {
    text-align: center;
  }
}
