.action-card {
  position: relative;
  flex-basis: 23%;
  background-color: white;
  box-shadow: 0 2px 5px rgb(189, 189, 189);
}

.action-card .image {
  background-position: bottom center;
  background-size: cover;
  height: 20vw;
}

.action-card .link-image { 
  text-decoration: none;
}

.action-card .detail {
  padding: 15px;
  color: var(--grey);
}

.action-card .detail h3 {
  margin: 0;
}

.action-card .detail a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: var(--primary);
}

.action-card .detail a:hover {
  color: var(--primary-hover);
}
