#post-list {
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 25px);
  padding: 50px 5% 50px 5%;
}

#post-list .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#post-list h2 {
  margin-bottom: 40px;
  text-align: center;
  color: var(--grey);
}

#post-list #search-posts {
  margin: 0 25% 25px 25%;
}

@media only screen and (max-width: 1000px) {
  #post-list #search-posts {
    margin: 0 10% 25px 10%;
  }
}


@media only screen and (max-width: 600px) {
  #post-list #search-posts {
    margin: 0 5% 25px 5%;
  }
}

@media only screen and (max-width: 500px) {
  #post-list .posts {
    flex-direction: column;
  }

  #post-list #search-posts {
    margin: 0;
    margin-bottom: 25px;
  }

  #post-list .row-fields {
    flex-direction: column;
  }

  #post-list .row-fields .form-field {
    padding: 10px 0;
  }
}
