.galery {
  margin-top: 25px;
  margin-bottom: 50px;
  position: relative;
}

.galery .content {
  padding: 15px 0;
  width: calc(100% - 100px);
  margin: 0 auto;
  overflow: hidden;
}

.galery .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.galery > .actions {
  width: 100%;
  top: 50%;
  z-index: 1;
  position: absolute;
}

@media screen and (max-width: 350px) {
  .galery .content {
    width: auto;
  }
}
