#subscribe {
  padding: 0 15% 25px 15%;
  padding-top: 35px;
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 25px);
}

#subscribe h2 {
  text-align: center;
}

#subscribe .submit-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#subscribe .field-checkbox {
  margin-top: 10px;
}
