footer {
  min-height: var(--footer-height);
  background-color: var(--primary);
  color: white;
  padding-top: 25px;
}

footer img {
  max-width: 250px;
}

footer .main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .main-list h4 {
  margin-top: 0;
}

footer .block-list a {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: .2s;
  font-size: 14px;
}

footer .block-list a:active,
footer .block-list a:hover {
  color: rgb(219, 219, 219);
}

footer .main-list,
footer .block-list,
footer .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .main-list {
  padding: 0 5%;
  padding-bottom: 25px;
}

footer .main-list li:last-of-type {
  position: relative;
}

footer .main-list input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
}

footer .social-list {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social-list a {
  cursor: pointer;
}

footer .social-list i {
  color: white; 
  font-size: 30px;
  padding: 5px;
  transition: .2s;
}

footer .social-list i:active,
footer .social-list i:hover {
  color: rgb(219, 219, 219);
}



footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  border-top: 1px solid rgb(160, 160, 160);
  font-size: 14px;
}

footer .bottom a {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: .2s;
}

footer .bottom a:hover {
  color: rgb(219, 219, 219);
}

@media only screen and (max-width: 1300px) { 
  footer .main-list > li {
    flex-basis: 30%;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 850px) {
  footer .main-list {
    flex-direction: column;
  }
  
  footer a,
  footer h4 {
    text-align: center;
  }

  footer img {
    margin-bottom: 50px;
  }

  footer .main-list:first-child .block-list li:first-of-type {
    display: flex;
    justify-content: center;
  }

  footer .social-list {
    position: static;
  }

  footer .main-list input {
    display: block;
    margin: 0 auto 15px auto;
    max-width: 300px;
  }

  footer .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .bottom > * {
    text-align: center;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 300px) {
  footer .social-list {
    justify-content: space-between;
  }
}
