footer {
  min-height: var(--footer-height);
  background-color: var(--primary);
  color: white;
  padding-top: 25px;
  text-align: justify;
  line-height: 1.5;
}

footer img {
  max-width: 160px;
  display: block;
  margin: auto;
}

footer .main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .main-list li {
  flex-basis: 25%;
  margin: 10px 0;
}

footer .main-list li.autosize {
  flex-basis: auto;
}

footer .main-list h4 {
  margin-top: 0;
  font-size: 15px;
}

footer .block-list a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: .2s;
  font-size: 14px;
  white-space: pre-wrap;
}

footer .block-list a:active,
footer .block-list a:hover {
  color: rgb(219, 219, 219);
}

footer .block-list i {
  width: 25px;
  text-align: center;
}

footer .main-list,
footer .block-list,
footer .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .main-list {
  padding: 0 5%;
}

footer .main-list li:last-of-type {
  position: relative;
}

footer .social-list {
  bottom: 0;
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .social-list a {
  cursor: pointer;
}

footer .social-list i {
  color: white; 
  font-size: 30px;
  padding: 5px;
  transition: .2s;
}

footer .social-list i:active,
footer .social-list i:hover {
  color: rgb(219, 219, 219);
}

footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  border-top: 1px solid rgb(160, 160, 160);
  font-size: 12px;
}

footer .bottom a {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: .2s;
}

footer .bottom a:hover {
  color: rgb(219, 219, 219);
}

@media only screen and (max-width: 1200px) { 
  footer .main-list > li {
    flex-basis: 30%;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 850px) {
  footer .main-list {
    flex-direction: column;
  }
  
  footer a,
  footer h4 {
    text-align: center;
  }

  footer .social-list {
    position: static;
  }

  footer .block-list {
    text-align: center;
  }

  footer .social-list li {
    text-align: center;
  }

  footer .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .bottom > * {
    text-align: center;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 300px) {
  footer .social-list {
    justify-content: space-between;
  }
}
