#static-conciliation-court {
  padding: 15px 5%;
  line-height: 2;
}

#static-conciliation-court p {
  margin-top: .5em;
  text-align: justify;
}

#static-conciliation-court .bold {
  font-weight: bold;
}

#static-conciliation-court hr {
  margin-top: 25px;
  margin-bottom: 15px;
}

#static-conciliation-court img {
  width: 100%;
}

#static-conciliation-court .information-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  #static-conciliation-court .main-title {
    text-align: center;
  }
}
