:root {
  --menu-heigth: 80px;
  
  --primary: #003078;
  --grey: #878787;
  
  --primary-hover: #003078c5;
  --grey-hover: #4e4e4e;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-family: 'Roboto', sans-serif !important;
}

strong {
  font-weight: 800;
}
