.action-card {
  height: 100%;
  position: relative;
  flex-basis: 23%;
  background-color: white;
  box-shadow: 0 2px 5px rgb(189, 189, 189);
}

.action-card .image {
  background-position: bottom center;
  background-size: cover;
  height: 20vw;
}

.action-card .link-image { 
  text-decoration: none;
}

.action-card .detail {
  padding: 15px;
  color: var(--grey);
}

.action-card .detail .text {
  text-align: justify;
}

.action-card .detail h3 {
  margin: 0;
  margin-bottom: 10px;
}

.action-card .detail a {
  display: block;
  text-align: center;
  padding: 15px 0 0 0;
  text-decoration: none;
  color: var(--primary);
}

.action-card .detail a:hover {
  color: var(--primary-hover);
}

@media only screen and (max-width: 1100px) {
  .action-card {
    flex-basis: 48%;
    margin-bottom: 50px;
  }

  .action-card .image {
    height: 42vw;
  }
}

@media only screen and (max-width: 500px) {
  .action-card {
    flex-basis: auto;
  }

  .action-card:last-of-type {
    margin-bottom: 0;
  }

  .action-card .image {
    height: 88vw;
  }
}
