.header-admin {
  width: 100%;
  color: black;
  background: white;
  padding: 15px 0 15px 5px;
  box-sizing: border-box;
  box-shadow: 0 5px 5px #0000002d;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-admin .title > * {
  display: inline-block;
}

.header-admin .right {
  display: flex;
  align-items: center;
}

.header-admin i {
  padding: 0 15px;
  font-size: 20px;
}

.header-admin h2 {
  margin: 0;
}

.header-admin .right h4 {
  margin-right: 10px;
}

.header-admin .right .icon:last-of-type {
  margin-right: 50px;
}

.header-admin .icon {
  padding: 10px;
  font-size: 25px;
  transition: .2s;
  cursor: pointer;
  color: black;
  opacity: .8;
}

.header-admin .icon:hover {
  opacity: 1;
}
