.header-admin {
  width: 100%;
  color: black;
  background: white;
  padding: 10px 0 10px 10px;
  height: var(--header-height);
  box-sizing: border-box;
  box-shadow: 0 5px 5px #0000002d;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-admin .title > * {
  display: inline-block;
}

.header-admin i {
  padding: 0 20px;
  font-size: 20px;
}

.header-admin h2 {
  margin: 0 5px;
}

.header-admin #icon-logout {
  padding: 15px 0 15px 15px;
  margin-right: 50px;
  font-size: 25px;
  transition: .2s;
  cursor: pointer;
}

.header-admin #icon-logout:hover {
  color: rgba(255, 255, 255, 0.726);
}
