
#static-geographical-information {
  padding: 15px 5%;
  line-height: 2;
}

#static-geographical-information p {
  margin-top: .5em;
  text-align: justify;
}

#static-geographical-information .bold {
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  #static-geographical-information h2,
  #static-geographical-information p,
  #static-geographical-information .bold {
    text-align: center;
  }
}
